In [1]:
dataset = [
    ["牛奶", "洋葱", "牛肉", "芸豆", "鸡蛋", "酸奶"],
    ["玉米", "洋葱", "洋葱", "芸豆", "豆腐", "鸡蛋"],
    ["牛奶", "香蕉", "玉米", "芸豆", "酸奶"],
    ["芸豆", "玉米", "香蕉", "牛奶", "鸡蛋"],
    ["香蕉", "牛奶", "鸡蛋", "酸奶"],
    ["牛奶", "苹果", "芸豆", "鸡蛋"],
]
dataset

[['牛奶', '洋葱', '牛肉', '芸豆', '鸡蛋', '酸奶'],
 ['玉米', '洋葱', '洋葱', '芸豆', '豆腐', '鸡蛋'],
 ['牛奶', '香蕉', '玉米', '芸豆', '酸奶'],
 ['芸豆', '玉米', '香蕉', '牛奶', '鸡蛋'],
 ['香蕉', '牛奶', '鸡蛋', '酸奶'],
 ['牛奶', '苹果', '芸豆', '鸡蛋']]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()  # 定义模型
te_ary = te.fit_transform(dataset)  # 转换数据集
te_ary

array([[ True,  True,  True, False,  True, False, False,  True, False,
         True],
       [ True, False, False,  True,  True, False,  True, False, False,
         True],
       [False,  True, False,  True,  True, False, False,  True,  True,
        False],
       [False,  True, False,  True,  True, False, False, False,  True,
         True],
       [False,  True, False, False, False, False, False,  True,  True,
         True],
       [False,  True, False, False,  True,  True, False, False, False,
         True]])

In [4]:
df = pd.DataFrame(te_ary, columns=te.columns_)  # 将数组处理为 DataFrame
df

      洋葱     牛奶     牛肉     玉米     芸豆     苹果     豆腐     酸奶     香蕉     鸡蛋
0   True   True   True  False   True  False  False   True  False   True
1   True  False  False   True   True  False   True  False  False   True
2  False   True  False   True   True  False  False   True   True  False
3  False   True  False   True   True  False  False  False   True   True
4  False   True  False  False  False  False  False   True   True   True
5  False   True  False  False   True   True  False  False  False   True

In [5]:
from mlxtend.frequent_patterns import apriori


# 预设支持度寻找频繁项集
apriori(df, min_support=0.5)  # 最小支持度为 0.5

     support   itemsets
0   0.833333        (1)
1   0.500000        (3)
2   0.833333        (4)
3   0.500000        (7)
4   0.500000        (8)
5   0.833333        (9)
6   0.666667     (1, 4)
7   0.500000     (1, 7)
8   0.500000     (8, 1)
9   0.666667     (1, 9)
10  0.500000     (3, 4)
11  0.666667     (9, 4)
12  0.500000  (1, 4, 9)

In [6]:
apriori(df, min_support=0.5, use_colnames=True)

     support      itemsets
0   0.833333          (牛奶)
1   0.500000          (玉米)
2   0.833333          (芸豆)
3   0.500000          (酸奶)
4   0.500000          (香蕉)
5   0.833333          (鸡蛋)
6   0.666667      (芸豆, 牛奶)
7   0.500000      (酸奶, 牛奶)
8   0.500000      (牛奶, 香蕉)
9   0.666667      (牛奶, 鸡蛋)
10  0.500000      (玉米, 芸豆)
11  0.666667      (芸豆, 鸡蛋)
12  0.500000  (芸豆, 牛奶, 鸡蛋)

In [7]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets[
    frequent_itemsets.itemsets.apply(lambda x: len(x)) >= 2
]  # 选择长度 >=2 的频繁项集

     support      itemsets
6   0.666667      (芸豆, 牛奶)
7   0.500000      (酸奶, 牛奶)
8   0.500000      (牛奶, 香蕉)
9   0.666667      (牛奶, 鸡蛋)
10  0.500000      (玉米, 芸豆)
11  0.666667      (芸豆, 鸡蛋)
12  0.500000  (芸豆, 牛奶, 鸡蛋)

In [8]:
from mlxtend.frequent_patterns import association_rules

association_rules(
    frequent_itemsets, metric="confidence", min_threshold=0.6
)  # 置信度阈值为 0.6

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(芸豆),(牛奶),0.833333,0.833333,0.666667,0.80,0.96,-0.027778,0.833333,-0.200000
1,(牛奶),(芸豆),0.833333,0.833333,0.666667,0.80,0.96,-0.027778,0.833333,-0.200000
2,(酸奶),(牛奶),0.500000,0.833333,0.500000,1.00,1.20,0.083333,inf,0.333333
3,(牛奶),(酸奶),0.833333,0.500000,0.500000,0.60,1.20,0.083333,1.250000,1.000000
4,(牛奶),(香蕉),0.833333,0.500000,0.500000,0.60,1.20,0.083333,1.250000,1.000000
5,(香蕉),(牛奶),0.500000,0.833333,0.500000,1.00,1.20,0.083333,inf,0.333333
6,(牛奶),(鸡蛋),0.833333,0.833333,0.666667,0.80,0.96,-0.027778,0.833333,-0.200000
7,(鸡蛋),(牛奶),0.833333,0.833333,0.666667,0.80,0.96,-0.027778,0.833333,-0.200000
8,(玉米),(芸豆),0.500000,0.833333,0.500000,1.00,1.20,0.083333,inf,0.333333
9,(芸豆),(玉米),0.833333,0.500000,0.500000,0.60,1.20,0.083333,1.250000,1.000000
10,(芸豆),(鸡蛋),0.833333,0.833333,0.666667,0.80,0.96,-0.027778,0.833333,-0.200000
11,(鸡蛋),(芸豆),0.833333,0.833333,0.666667,0.80,0.96,-0.027778,0.833333,-0.200000
12,"(芸豆, 牛奶)",(鸡蛋),0.666667,0.833333,0.500000,0.75,0.90,-0.055556,0.666667,-0.250000
13,"(芸豆, 鸡蛋)",(牛奶),0.666667,0.833333,0.500000,0.75,0.90,-0.055556,0.666667,-0.250000
14,"(牛奶, 鸡蛋)",(芸豆),0.666667,0.833333,0.500000,0.75,0.90,-0.055556,0.666667,-0.250000
15,(芸豆),"(牛奶, 鸡蛋)",0.833333,0.666667,0.500000,0.60,0.90,-0.055556,0.833333,-0.400000
16,(牛奶),"(芸豆, 鸡蛋)",0.833333,0.666667,0.500000,0.60,0.90,-0.055556,0.833333,-0.400000
17,(鸡蛋),"(芸豆, 牛奶)",0.833333,0.666667,0.500000,0.60,0.90,-0.055556,0.833333,-0.400000

In [9]:
association_rules(
    frequent_itemsets, metric="confidence", min_threshold=0.8
)  # 置信度阈值为 0.8

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(酸奶),(牛奶),0.5,0.833333,0.5,1.0,1.2,0.083333,inf,0.333333
1,(香蕉),(牛奶),0.5,0.833333,0.5,1.0,1.2,0.083333,inf,0.333333
2,(玉米),(芸豆),0.5,0.833333,0.5,1.0,1.2,0.083333,inf,0.333333

In [ ]:
# antecedents：规则先导项

# consequents：规则后继项

# antecedent support：规则先导项支持度

# consequent support：规则后继项支持度

# support：规则支持度

# confidence：规则置信度

# lift：规则提升度，表示含有先导项条件下同时含有后继项的概率，与后继项总体发生的概率之比。

# leverage：规则杠杆率，表示当先导项与后继项独立分布时，先导项与后继项一起出现的次数比预期多多少。

# conviction：规则确信度，与提升度类似，但用差值表示。